<h3>User Profile</h3>
First Name: <%= react_component('UserField', { item: @user.first_name }) %><br />
Last Name:  <%= react_component('UserField', { item: @user.last_name }) %><br />
Email: <%= react_component('UserField', { item: @user.email }) %><br />
Role: <%= @user.role.name %><br />
